name: sprawozdanie_pdf
on: push

jobs:
  sprawozdanie:
    runs-on: ubuntu-latest

    steps:
      - name: Update apt
        run: sudo apt-get update

      - name: Install TeX + tools
        run: sudo apt-get install -y texlive-xetex inkscape pandoc

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Python deps
        run: |
          pip install \
            matplotlib \
            pint \
            open-atmos-jupyter-utils \
            scipy \
            nbconvert \
            ipykernel \
            pympdata

      - name: Export notebook to LaTeX
        run: |
          jupyter nbconvert \
            projekt/projekt_mup.ipynb \
            --to latex \
            --no-input \
            --no-prompt \
            --output projekt_mup \
            --output-dir projekt

      - name: Clean LaTeX (remove HTML junk and title/date)
        run: |
          sed -i '/IPython.core.display.HTML object/d' projekt/projekt_mup.tex
          sed -i '/HTML(value=/d' projekt/projekt_mup.tex

          sed -i '/\\title{/d'  projekt/projekt_mup.tex
          sed -i '/\\author{/d' projekt/projekt_mup.tex
          sed -i '/\\date{/d'   projekt/projekt_mup.tex
          sed -i '/\\maketitle/d' projekt/projekt_mup.tex

      - name: Build PDF with xelatex
        run: |
          cd projekt
          xelatex -interaction=nonstopmode projekt_mup.tex

      - name: Upload PDF + graphics artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sprawozdanie
          path: |
            projekt/projekt_mup.pdf
            projekt/grafiki/*
