name: sprawozdanie_pdf
on: push
jobs:
  pdf:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - run: pip install ipykernel scipy pint open_atmos_jupyter_utils numpy PyMPDATA
      - run: sudo apt-get update && sudo apt-get install -y texlive-xetex texlive-latex-extra inkscape pandoc
      - run: pip install nbconvert
      - run: jupyter nbconvert --to latex --execute projekt/projekt_mup.ipynb --TemplateExporter.exclude_input=True
      - run: sed -i '/HBox(children=/d' projekt/projekt_mup.tex
      - run: sed -i 's/\\title{Jaka będzie różnica w czasie dotarcia fali do brzegu w zależności od ukształtowania stoku dna?}\\author{Aleksandra Kot}//' projekt/projekt_mup.tex
      - run: |
          cd projekt
          xelatex -interaction=nonstopmode projekt_mup.tex
          xelatex -interaction=nonstopmode projekt_mup.tex
      

      - uses: actions/upload-artifact@v4
        with:
          name: sprawozdanie_WM
          path: projekt/projekt_mup.pdf
