name: sprawozdanie_pdf
on: push

jobs:
  sprawozdanie:
    runs-on: ubuntu-latest

    steps:
      - name: Update apt
        run: sudo apt-get update

      - name: Install TeX + tools
        run: sudo apt-get install -y texlive-xetex inkscape pandoc

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Python deps
        run: pip install matplotlib pint open-atmos-jupyter-utils scipy nbconvert ipykernel pympdata

      - name: Generate clean PDF (hide HTML/HBox outputs)
        run: |
          jupyter nbconvert projekt/projekt_mup.ipynb \
            --to pdf \
            --output projekt_mup \
            --output-dir projekt \
            --no-prompt \
            --TemplateExporter.exclude_input=True \
            --TemplateExporter.exclude_output_prompt=True \
            --TemplateExporter.exclude_raw=True \
            --TemplateExporter.exclude_anchor_links=True \
            --TemplateExporter.exclude_input_line_numbers=True \
            --TagRemovePreprocessor.remove_cell_tags='["html-output"]' \
            --TagRemovePreprocessor.enabled=True \
            --PDFExporter.exclude_output=True \
            --PDFExporter.latex_command="['xelatex','-interaction=nonstopmode','%(filename)s']" || true

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: sprawozdanie
          path: projekt/projekt_mup.pdf
