name: sprawozdanie_pdf
on: push
jobs:
  pdf:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - run: pip install ipykernel scipy pint open_atmos_jupyter_utils numpy PyMPDATA
      - run: sudo apt-get install texlive-xetex texlive-latex-extra inkscape pandoc
      - run: pip install nbconvert
      - run: jupyter nbconvert --to latex --no-input --execute projekt_mup.ipynb
      - run: sed -i '/HBox(children=/d' projekt_mup.tex
      - run: sed -i 's/\\title{Jaka będzie różnica w czasie dotarcia fali do brzegu w zależności od ukształtowania stoku dna?}\\author{Aleksandra Kot}/' projekt_mup.tex
      - run: xelatex -interaction=nonstopmode projekt_mup.tex
      - run: xelatex -interaction=nonstopmode projekt_mup.tex

      - uses: actions/upload-artifact@v4
        with:
          name: raport
          path: projekt_mup.pdf