name: sprawozdanie_pdf
on: push

jobs:
  sprawozdanie:
    runs-on: ubuntu-latest

    steps:
      - name: Update apt
        run: sudo apt-get update

      - name: Install TeX + tools
        run: sudo apt-get install -y texlive-xetex inkscape pandoc

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Python deps
        run: pip install matplotlib pint open-atmos-jupyter-utils scipy nbconvert ipykernel pympdata

      - name: Convert notebook (bez execute) to PDF
        run: |
          jupyter nbconvert \
            --to pdf \
            projekt/projekt_mup.ipynb \
            --output projekt_mup.pdf \
            --output-dir projekt

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: sprawozdanie
          path: projekt/projekt_mup.pdf
